<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Mukta-Bold.ttf</string>
		<string>Mukta-ExtraBold.ttf</string>
		<string>Mukta-Light.ttf</string>
		<string>Mukta-ExtraLight.ttf</string>
		<string>Mukta-SemiBold.ttf</string>
		<string>Mukta-Medium.ttf</string>
		<string>Mukta-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackgroundColor</string>
	</dict>
</dict>
</plist>
